        {% extends 'base.html.twig' %}
        {% block body %}
          <div class="search-panel">
            <input type="text" value="" id="searchQuery"/>
            <input type="button" value="Hae" onClick="javascript:searchBooks();"/>
            <div style="clear:both;"></div>
          </div>
          <table>
            <thead>
              <tr>
                <th>Kirjailijat</th>
                <th>Teoksen nimi</th>
                <th>Kuvaus</th>
                <th>Lisätietoa</th>
              </tr>
            </thead>
            <tbody id="search-results">
            </tbody>
          </table>
        {% endblock %}
